/* Structure */
._container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;
  height: 100vh;
}

.ngx-datatable.scroll-vertical {
  height: 100%;
  width: 99%;
}

.downloadButton {
  float: right;
  margin: 5px;
}

.loading-shade {
  flex: 1;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header_table {
  width: 100%;
}
