<ngx-dhis2-menu></ngx-dhis2-menu>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-nav-list>
      <a mat-list-item (click)="setExport('UbDMnkZN06S')">Export Caregiver</a>
      <a mat-list-item (click)="setExport('MEH5vFJNhxm')">Export OVC</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-data-table [sqlViewId]="sqlViewId" [data]="data"></app-data-table>
  </mat-sidenav-content>
</mat-sidenav-container>