<dir class="_container">
  <div class="filters__section">
    <div class="filter">
      <app-period-filter [periodConfig]="periodConfig" [selectedPeriodType]="selectedPeriodType" (onPeriodUpdate)="onPeriodUpdate($event)"></app-period-filter>
    </div>
    <div class="filter">
      <app-org-unit-filter [orgUnitModel]="orgUnitModel" [orgUnitTreeConfig]="orgUnitTreeConfig" (onOrgUnitUpdate)="onOrgUnitUpdate($event)"
        (onOrgUnitClose)="onOrgUnitClose($event)"></app-org-unit-filter>
    </div>
  </div>
</dir>